version: "3.9"

services:
  websum-to-git:
    build: .
    restart: unless-stopped
    volumes:
      - ./config.yaml:/app/config.yaml:ro
    deploy:
      resources:
        limits:
          memory: 1g
