services:
  websum-to-git:
    build: .
    restart: unless-stopped
    container_name: websum-to-git
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - ./config.yaml:/app/config.yaml:ro
    # command: ["xvfb-run", "-a", "python", "main.py", "--config", "/app/config.yaml"]
